* {
    text-align: center;
}

.visualizer-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .button-container {        
        width: 100%;
        background: #20232A;
        height: 80px;
        display: flex;
        justify-content: center;

        button {
            background: none;
            border: none;
            color: white;
            font-family: 'Titillium Web', sans-serif;
            font-size: 1rem;
            margin: 0px 1rem;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .array-container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 90%;
        .array-bar {
            width: 2px;
            display: inline-block;
            margin: 0 1px;
            background-color: #848ab8;
            opacity: 0.5;
        }
    }
}

